/* --------------- Cart ---------------- */


.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; //for firefox&&IE10+

    &::-webkit-scrollbar {
        display: none;
    }

    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: transition-linear;
    transform: translateX(100%);


    &-overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: transition-linear;
        background: (rgba(156, 107, 61, 0.5));
        z-index: 2;
        visibility: hidden;
    }

    h2 {
        text-transform: capitalize;
        text-align: center;
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;

        span {
            color: red;
        }

        border-bottom: 1px solid (rgba(212, 185, 159, 0.5));
        border-right: 1px solid (rgba(212, 185, 159, 0.5));
    }
}

.showCart {
    transform: translateX(0);
    transition: all 0.3s linear;
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}


/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;

    img {
        width: 75px;
        height: 75px;
    }

    h4 {
        font-size: 0.85rem;
        text-transform: capitalize;
        letter-spacing: 0.1rem;
    }

    h5 {
        margin: 0.5rem 0;
        letter-spacing: 0.1rem;
    }
}


.item-amount {
    text-align: center;
    margin-bottom: 0;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: #f09d51;
    cursor: pointer;
}

/*---------- End of Cart Item -------------------- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;

    h3 {
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
}

.clearCart-btn {
    padding: 0.5rem 1.3rem;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    font-size: 1rem;
    background: #f09d51;
    color: #222;
    border: 1px solid #f09d51;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
        background: transparent;
        color: #f09d51;
    }
}



/* --------------- End of Cart ---------------- */