// media-queries

// small only
@mixin small-only {
    @media screen and (max-width: 39.9375em) {
        @content;
    }
}

// Medium and up
@mixin medium-up {
    @media screen and (min-width: 40em) {
        @content;
    }
}

// Medium only
@mixin medium-only {
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        @content;
    }
}

// Large and up
@mixin medium-up {
    @media screen and (min-width: 64em) {
        @content;
    }
}

// Large only
@mixin medium-up {
    @media screen and (min-width: 64em) and (max-width: 74.9375em) {
        @content;
    }
}

@include small-only {

    .wrapper {
        padding: 0 !important;
    }

    header {
        padding: 1rem 0;

        .cart-items {
            top: 21%;
            right: 16px;
        }

        nav {
            display: block;

            img {
                width: 70%;
                padding-left: 29%;
                padding-top: 4px;
            }

            ul {
                margin-top: 1.0rem;
                padding-bottom: 1rem;
            }
        }
    }

    .product {
        hr {
            width: 22.7% !important;
            margin-left: 51% !important;

        }

        h2 {
            text-align: center !important;
        }
    }

    footer {
        ul {
            margin-top: 0;
        }

        h5 {
            padding-top: 10px;
        }
    }

    .cart {
        width: 70%;
    }

    .ps-content {
        padding: 4% 4% !important;

        h2 {
            &::after {
                left: 52% !important;
                width: 70px !important;
            }

        }
    }

    .tag-space {
        padding: 4% 4% !important;
    }

    .reviews {
        padding: 4% 4% !important;

        h2 {
            &::after {
                left: 52% !important;
                width: 70px !important;
            }
        }
    }

    .load a {
        padding-right: 26% !important;
    }
}