@import 'footer';
@import 'menu';
@import 'cart';
@import 'responsive';



$primary-color: #f09d51;
$mainWhite: #fff;
$mainBlack : #222;
$mainGrey: #ececec;
$mainSpacing: 0.1rem;

@mixin transition-linear {
    transition: all 0.3s linear;
}

.wrapper {
    padding: 0 5%;
}

body {
    background: #dad8d8;
}







.product {
    hr {
        width: 18.5%;
        margin-left: 21.2%;
        margin-top: 0;
        border-bottom: 3px solid #f09d51;
    }

    h2 {
        span {
            color: $primary-color;
        }

        text-transform: capitalize;
        // font-size: 1.1rem;
        // margin-top: 0.5rem;
        letter-spacing: $mainSpacing;
        text-align: left;
        margin-bottom: 0 !important;
    }


    h3 {
        text-transform: capitalize;
        font-size: 1.1rem;
        // margin-top: 0.5rem;
        letter-spacing: $mainSpacing;
        text-align: left;
        margin-bottom: 0 !important;
    }

    h4 {
        // margin-top: 0.7rem;
        letter-spacing: $mainSpacing;
        color: $primary-color;
        text-align: left;
        // margin-bottom: 0;
        text-transform: capitalize;
        font-family: "Kaushan Script", cursive;
    }


}

.img-container {
    position: relative;
    overflow: hidden;

    &:hover {
        .bag-btn {
            transform: translateX(0);
        }

        .product-img {
            opacity: 0.5;
        }
    }
}




.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: #f09d51;
    border: none;
    border-radius: 10px 0 10px 0;
    text-transform: uppercase;
    padding: 0.75rem 0.75rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    @include transition-linear;
    transform: translateX(101%);
    cursor: pointer;

    &:hover {
        color: $mainWhite;
    }
}



.fa-shopping-cart {
    margin-right: 0.5rem;
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    @include transition-linear;
}

.products-center {

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;

}

.load {
    a {
        i {}

        align-content: center;
        color: $primary-color;

        font-size: 25px;
        float: right;
        padding-right: 8%;
        margin-top: 1%;
    }
}


main {
    margin: 5% 0;
    margin-left: 5%;

    .columns {
        padding-left: 0 !important;
    }
}



.ps-content {
    // background: #fff;
    width: 100%;
    height: 100%;
    // padding: 0 50px;
    padding-left: 50px;

    a {
        float: right;
        padding-right: 15px;
    }

    h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
        padding: 10px 15px;
        border-right: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        // letter-spacing: 4px;
        margin: 0 0 30px;
        text-align: right;
        font-weight: 700;

        &::after {
            position: absolute;
            top: 49%;
            left: 18%;
            content: '';
            width: 90px;
            height: 5px;
            background: #f09d51;
        }
    }

    h3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
        padding: 10px 15px;
        border-left: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        // letter-spacing: 4px;
        margin: 0 0 30px;
        text-align: left;
        font-weight: 700;


    }

    p {
        line-height: 22px;
        font-size: 12px;
        padding: 8px 10px;
        font-weight: 400;
        text-align: justify;
        border-left: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }
}

.tag-space {
    padding-top: 43%;

    a {
        text-transform: uppercase;
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 7px;
        margin-right: 4px;
        border-radius: 4px;
        color: #000000;
        border: 1px solid #f2f2f2;
        font-size: 11px;
        background: #f2f2f2;

        &:hover {
            border: 1px solid #000;
            color: $primary-color;
        }

    }


}

.reviews {
    padding-top: 40%;
    padding-left: 50px;

    h2 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
        padding: 10px 15px;
        border-right: 1px solid #f2f2f2;
        // border-bottom: 1px solid #f2f2f2;
        // letter-spacing: 4px;
        margin: 0 0 30px;
        text-align: right;
        font-weight: 700;

        &::after {
            position: absolute;
            top: 49%;
            left: 18%;
            content: '';
            width: 90px;
            height: 5px;
            background: #f09d51;
        }
    }

    span.single-item {
        float: left;
        margin: 0 10px;
        text-align: center;
        font-size: 45px;
    }

    p {
        line-height: 22px;
        font-size: 12px;
        padding: 8px 15px;
        font-weight: 400;
        text-align: justify;
        border-right: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;

        i {
            float: right;
            padding-top: 2px;

            &:hover {
                color: $primary-color;
            }
        }
    }

    a {
        float: right;
        color: $primary-color;
    }
}


// .ps-content h2 {}

// .ps-content p {}

// end main